---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
import ListPosts from '@/components/ListPosts'
import Pagination from '@/components/Pagination'
import { getPosts } from '@/utils'
import { siteConfig } from '@/data/site.config'

const PAGE_SIZE = 11
const allPosts = await getPosts()
const totalPages = Math.ceil(allPosts.length / PAGE_SIZE)
const paginatedPosts = allPosts.slice(0, PAGE_SIZE)
---

<BaseLayout title='Blog'>
	<TitlePage title={siteConfig.title} />

	<div>
		<h2 class='text-lg font-medium tracking-wide text-end'>Latest Posts</h2>
		<ListPosts FirstBig={true} posts={paginatedPosts} />
	</div>

	<Pagination currentPage={1} totalPages={totalPages} baseUrl='/blog' />
</BaseLayout>
