---
import { getPosts } from '@/utils'
import { siteConfig } from '@/data/site.config'
import ListPosts from '@/components/ListPosts'
import Pagination from '@/components/Pagination'
import BaseLayout from '@/layouts/BaseLayout'

const pageParam = Astro.url.searchParams.get('page')
const currentPage = pageParam ? parseInt(pageParam, 10) : 1

const postsPerPage = siteConfig.paginationSize
const allPosts = await getPosts()
const totalPages = Math.floor((allPosts.length + postsPerPage - 1) / postsPerPage)
const paginatedPosts = allPosts.slice((currentPage - 1) * postsPerPage, currentPage * postsPerPage)

const page = {
	start: (currentPage - 1) * postsPerPage,
	currentPage,
	lastPage: totalPages,
	url: {
		prev: currentPage > 1 ? `/blog?page=${currentPage - 1}` : undefined,
		next: currentPage < totalPages ? `/blog?page=${currentPage + 1}` : undefined
	}
}
---

<BaseLayout title='Blog' description='Latest blog posts from Earn Money Online'>
	<h1 class='text-4xl font-bold mb-6'>Latest Blog Posts</h1>

	<ListPosts posts={paginatedPosts} FirstBig={false} />

	<Pagination page={page} />
</BaseLayout>
