---
import ListCategories from '@/components/ListCategories'
import ListPosts from '@/components/ListPosts'
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
import { getPosts } from '@/utils'
import { siteConfig } from '@/site-config'

// Define max number of posts to show on the homepage
const MAX_POSTS = 5

// Fetch the latest posts
const posts = await getPosts(MAX_POSTS)
---

<BaseLayout title='Home'>
	<!-- Page Title -->
	<TitlePage title={siteConfig.title} />

	<!-- Latest Posts Section -->
	<div>
		<h2 class='text-lg font-medium tracking-wide text-end'>Latest Posts</h2>
		{
			posts && posts.length > 0 ? (
				<ListPosts FirstBig={true} posts={posts} />
			) : (
				<p class='text-gray-500 text-center'>No posts found.</p>
			)
		}
	</div>

	<!-- Categories Section -->
	<div>
		<h2 class='text-lg font-medium tracking-wide text-end'>Categories</h2>
		<ListCategories />
	</div>
</BaseLayout>

<script>
	import { animate } from 'motion'
	const showAnimations = localStorage.getItem('animations') === 'true'

	if (showAnimations) {
		animate(
			'.title',
			{ y: [80, 0], opacity: [0, 1] },
			{
				duration: 2.5,
				opacity: { duration: 3 },
				offset: [0, 0.55, 0.75]
			}
		)
	}
</script>
