---
import BaseLayout from '@/layouts/BaseLayout'

// Static content for the About page
const title = 'Privacy Policy'
const description = 'Learn more about who we are, our mission, and what we stand for.'
---

<BaseLayout title={title} description={description}>
	<article class='min-w-full md:py-4 sm:max-w-none md:max-w-none'>
		<header class='mb-3 flex flex-col justify-center items-center gap-6'>
			<div class='flex flex-col gap-2'>
				<h1 class='text-center text-4xl md:text-6xl md:pb-2.5 font-semibold'>
					{title}
				</h1>
				<p class='text-center text-lg md:text-xl text-opacity-75'>
					{description}
				</p>
			</div>
		</header>
		<hr />
		<div class='prose max-w-none'>
			<h2>Privacy Policy</h2>
			<p>
				Before you continue using our website, we advise you to read our <a
					href='https://earnonlinemoney.org/privacy-policy'>privacy policy</a
				> regarding our user data collection. It will help you better understand our practices.
			</p>

			<h3>What Data Do We Collect?</h3>
			<p>
				With your permission and/or where permitted by law, we may also use your data for marketing
				purposes, including contacting you by email with information, news, and offers on our
				products and services. We will not, however, send you any unsolicited marketing or spam and
				will take all reasonable steps to ensure that we fully protect your rights and comply with
				our obligations under <a href='https://gdpr-info.eu/'>GDPR</a> and the <a
					href='https://www.legislation.gov.uk/uksi/2003/2426/contents/made'
					>Privacy and Electronic Communications (EC Directive) Regulations 2003</a
				>.
			</p>
			<p>
				Third parties (including <a href='https://admanager.google.com/home/'>Google AdManager</a>)
				whose content appears on our site may use third-party cookies. Please note that we do not
				control the activities of such third parties, nor the data they collect and use, and advise
				you to check the <a href='https://policies.google.com/privacy'>privacy policies</a> of any such
				third parties.
			</p>

			<h3>Copyright</h3>
			<p>
				Content published on this website (digital downloads, images, texts, graphics, logos) is the
				property of Dejuan Jones and protected by international copyright laws. The entire
				compilation of the content found on this website is the exclusive property of Dejuan Jones.
			</p>

			<h3>Communications</h3>
			<p>
				When you send us an email or visit our website, you are communicating with us
				electronically. If you subscribe to the news on our website, you will receive regular emails
				from us. We will continue to communicate with you by posting news and notices on our website
				and by sending you emails. You agree that all notices, disclosures, agreements, and other
				communications provided electronically satisfy legal requirements that such communications
				be in writing.
			</p>

			<h3>Applicable Law</h3>
			<p>
				By visiting this website, you agree that the laws of <a href='https://access.wa.gov/'
					>Washington State</a
				>, without regard to principles of conflict laws, will govern these terms of service and any
				dispute that may arise between you and Dejuan Jones.
			</p>

			<h3>Disputes</h3>
			<p>
				Any dispute related in any way to your visit to this website or to products you purchase
				from us shall be arbitrated by state or federal court in Washington State, and you consent
				to the exclusive jurisdiction and venue of such courts.
			</p>

			<h3>GDPR Data Protection Rights</h3>
			<p>Every user is entitled to the following rights under GDPR:</p>
			<ul>
				<li>The right to access – You have the right to request copies of your personal data.</li>
				<li>
					The right to rectification – You have the right to request that we correct any information
					you believe is inaccurate.
				</li>
				<li>
					The right to erasure – You have the right to request that we erase your personal data
					under certain conditions.
				</li>
				<li>
					The right to restrict processing – You have the right to request that we restrict the
					processing of your personal data under certain conditions.
				</li>
			</ul>

			<h3>CCPA Privacy Rights</h3>
			<p>
				Under the <a href='https://oag.ca.gov/privacy/ccpa'>CCPA</a>, among other rights, California
				consumers have the right to:
			</p>
			<ul>
				<li>
					Request that a business disclose the categories and specific pieces of personal data
					collected.
				</li>
				<li>Request that a business delete any personal data collected.</li>
				<li>
					Request that a business that sells consumer personal data not sell their personal data.
				</li>
			</ul>

			<p>
				If you are a resident of California, you are granted specific rights regarding access to
				your personal information. <a href='https://oag.ca.gov/privacy/privacy-laws'
					>California Civil Code Section 1798.83</a
				>, also known as the “Shine The Light” law, permits California residents to request and
				obtain information about personal data disclosed to third parties for direct marketing
				purposes.
			</p>

			<h3>Third-Party Websites and Advertisers</h3>
			<p>
				Our privacy policy does not apply to other advertisers or websites. Thus, we advise you to
				consult the respective <a href='https://policies.google.com/privacy'>privacy policies</a> of
				these third-party services for more detailed information.
			</p>
			<ul>
				<li>
					Third-party vendors, including <a href='https://ads.google.com/'>Google</a>, use cookies
					to serve ads based on a user's prior visits to our website or other websites.
				</li>
				<li>
					Google’s use of advertising cookies enables it and its partners to serve ads based on
					users’ visits to our sites and other sites on the Internet.
				</li>
				<li>
					How does Google use information from sites and apps that use their services? Read: <a
						href='https://policies.google.com/technologies/partner-sites'>Google Policies</a
					>.
				</li>
			</ul>

			<p>
				Users can opt out of personalized advertising by visiting <a
					href='https://www.aboutads.info/choices/'>YourAdChoices</a
				>.
			</p>

			<p>
				For additional details regarding cookie consent notices, please refer to <a
					href='https://www.cookiechoices.org/'>cookiechoices.org</a
				>.
			</p>
		</div>
	</article>
</BaseLayout>
